<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Category</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/" class="nav-left"
        ><img src="/images/lab.svg" alt="Home" class="large-icon"
      /></a>
      <h1>
        <img
          src="/images/category.svg"
          alt="Categories"
          class="large-icon"
        />Edit Category
      </h1>
      <a href="/categories/new" class="nav-right"
        ><img
          src="/images/add.svg"
          alt="New Category"
          class="large-icon nav-right"
      /></a>
    </nav>
    <form
      action="/categories/<%= category.id %>?_method=PUT"
      method="POST"
      class="full-form"
    >
      <label for="name">Category Name:</label>
      <input
        type="text"
        id="name"
        name="name"
        value="<%= category.name %>"
        required
      />
      <button type="submit">Update Category</button>
    </form>
    <a href="/categories">Back to Categories</a>
  </body>
</html>
