<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory Home</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Welcome to the Science Inventory</h1>
    <ul>
      <li><a href="/items">View Items</a></li>
      <li><a href="/scientists">View Scientists</a></li>
    </ul>
  </body>
</html>
