<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Item</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/" class="nav-left"
        ><img src="/images/lab.svg" alt="Home" class="large-icon"
      /></a>
      <h1>Add New Item</h1>
      <a href="/items/new" class="nav-right"
        ><img src="/images/add.svg" alt="Add Item" class="large-icon nav-right"
      /></a>
    </nav>
    <form action="/items" method="POST" class="full-form">
      <label for="name">Item Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" name="quantity" required min="1" />

      <label for="scientist_id">Scientist:</label>
      <select id="scientist_id" name="scientist_id" required>
        <% scientists.forEach(scientist => { %>
        <option value="<%= scientist.id %>"><%= scientist.name %></option>
        <% }); %>
      </select>

      <label for="category_id">Category:</label>
      <select id="category_id" name="category_id" required>
        <% categories.forEach(category => { %>
        <option value="<%= category.id %>"><%= category.name %></option>
        <% }); %>
      </select>

      <button type="submit">Add Item</button>
    </form>
    <a href="/items">Back to Items</a>
  </body>
</html>
