<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Scientists</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/" class="nav-left"
        ><img src="/images/lab.svg" alt="Home" class="large-icon"
      /></a>
      <h1>
        <img
          src="/images/scientist.svg"
          alt="Item"
          class="large-icon"
        />Scientists
      </h1>
      <a href="/scientists/new" class="nav-right"
        ><img
          src="/images/add.svg"
          alt="Add Scientist"
          class="large-icon nav-right"
      /></a>
    </nav>
    <ul>
      <% scientists.forEach(scientist => { %>
      <li class="item">
        <a href="/scientists/<%= scientist.id %>" class="item-name"
          ><%= scientist.name %></a
        >
        <p class="item-data"><%= scientist.email %></p>
        <form
          action="/scientists/<%= scientist.id %>?_method=DELETE"
          method="POST"
          style="display: inline"
          onsubmit="return confirm('Are you sure you want to delete this scientist?');"
        >
          <button type="submit">
            <img src="/images/delete.svg" alt="Delete" class="small-icon" />
          </button>
        </form>
      </li>
      <% }); %>
    </ul>
  </body>
</html>
